* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
#bar{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 50px;  
}
#title{
    margin: auto;
    align-items: center;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
#nav{
    display: flex;
    color: rgb(190, 182, 182);
    font-size: 10pt;
    align-items: center;
}
#nav h3{
    display: flex;
    font-size: 18pt;
    color: white;
    padding-right: 10px;
    margin-top: -20px;

}
#nav h4{
    margin-left: 15px;
}
h4:hover {
    color: white;
}
button{
    height: 25px;
    width: 100px;
    background-color: #17a2b8;
    color:white;
    font-size: 11pt;
}
#content {
    margin-top: -25px;
    display: flex;
    height: 500px;
    width: 75%;
    margin: auto;
    margin-bottom: 30px;
}
#leftbox {
    flex:4;
    margin-right: 20px;
}
#rightbox {    
    flex:2;
}
#container{
    height: 230px;

}    
#inner{
    background-color: #17a2b8;
    height: 65px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 20px;
}
#outer{
    height: 165px;
    border: 3px solid silver;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: none;
    padding-left: 15px;
}
#picture img{
    height: 60px;
    position:relative;
    top: 30px;
    left: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 0px 2px silver;
    border-radius: 50%;
}
h3 {
    margin: 0px;
    padding-top: 30px;
    margin-bottom: 7px;
}
#location {
    display: flex;
    margin-bottom: 7px;
}  
#location2 img{
    height: 15px;
    margin-right: 5px;
}
#settings {
    display:flex;
    padding: 15px 0px;
}
    
#settings img{
    height: 15px;
    margin-right: 5px; 
}
.Einner{
    display:flex;
    margin-top: 20px;
    background-color: #000000;
    height: 35px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    align-content: center;
}
.Einner h5{
    Margin: 9px 20px;
    font-weight:bold;
}
.Eouter{
        height: auto;
        border: 3px solid silver;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top: none;
        padding-left: 15px;
}
.Eouter H4{
    color: black;
    padding: 6px 0px
}
.Eouter p{
    padding-top: 6px;
    font-size: 11pt;
    padding-bottom: 10px;
}
#request{
    display:flex;
    padding: 5px 0px;
    font-size: 15pt;
    align-items: center;
    justify-content: space-between;
}
#request h6 {
    padding-left: 7px;
}
    #request1 h6 {
        padding-left: 7px;
}
.Eouter img{
    border-radius: 50%;
    height: 25px;
    border: 2px solid rgb(155, 149, 149);
}
#seperate{
    display: flex;
    align-content: center;
}
#seperate h6{
    padding-top: 6px;
}

#image img{
    border: none;
    height: 22px;
    margin-right: 5px;
}
#request1 {
    display:flex;
    padding: 5px 0px;
    font-size: 15pt;
    align-items: center;
}
#viewmore{
    height: auto;
    border: 3px solid silver;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: none;
    padding: 5px 0px 5px 15px;
    margin-top: -3px;
    font-size: 10pt;
}
.circle {
    background: #a5a4a4;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    height: 17px;
    width: 17px;
    margin: 8px 0px 0px 8px;
    text-align: center;
    font-size: 11pt;
}

.oval {
    background: #a5a4a4;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    height: 17px;
    width: 35px;
    margin: 8px 0px 0px 8px;
    text-align: center;
    font-size: 11pt;
}
#bottom {
    position:fixed;
    bottom: 00px;
    width: 100%;
    background-color: silver;
    height: 25px;
}